<div *ngIf="solution && !solution.uploadInProgress; else uploadInProgress">
  <div class="card bg-dark text-white" *ngIf="solution" data-toggle="modal" (click)="solThumbClick(content)"
       [attr.data-target]="solution.pendingScanId ? '' : '#solution-modal-' + solution.id">
    <img class="card-img" [src]="solution.photos[0]" alt="scan preview" *ngIf="solution.photos && solution.photos.length > 0"/>
    <div class="card-img text-center" *ngIf="solution.pendingScanId">
      <h6 class="mt-5">Available from pending scan</h6>
    </div>
    <div class="card-img-overlay align-items-center d-flex justify-content-center">
      <h2 class="card-title text-center" *ngIf="solution.grade >= 0; else noGrade">
        {{solution.grade}} / {{question.total_grade}}
      </h2>
      <ng-template #noGrade>
        <h4 class="card-title text-center">
          Unknown Grade
        </h4>
      </ng-template>
    </div>
  </div>
  <div class="text-center mt-2" *ngIf="solution && adminAccess">
    <button class="btn btn-info btn-sm mr-2" type="button" data-toggle="modal" [attr.data-target]="'#editSolution-' + solution.id" role="button"><fa-icon icon="edit"></fa-icon></button>
    <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" [attr.data-target]="'#deleteSolution-' + solution.id" role="button"><fa-icon icon="times"></fa-icon></button>
  </div>
</div>

<ng-template #uploadInProgress>
  <div class="card bg-dark text-white" *ngIf="solution" data-toggle="modal">
    <div class="card-img text-center">
      <h6 class="mt-5"><fa-icon icon="spinner" [spin]="true" size="lg">></fa-icon></h6>
      <div class="mt-2">Solution in upload</div>
    </div>
    <div class="card-img-overlay align-items-center d-flex justify-content-center">
      <h2 class="card-title text-center" *ngIf="solution.grade >= 0; else noGrade">
        {{solution.grade}} / {{question.total_grade}}
      </h2>
      <ng-template #noGrade>
        <h4 class="card-title text-center">
          Unknown Grade
        </h4>
      </ng-template>
    </div>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="solution.grade >= 0; else noGrade">Solution Grade: {{solution.grade}} / {{question.total_grade}}</h4>
    <ng-template #noGrade>
      <h4 class="modal-title">
        Unknown Grade
      </h4>
    </ng-template>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let photo of solution.photos">
      <img [src]="photo" alt="solution photo" class="sol-image-modal"/>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" [id]="'editSolution-' + solution.id">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Solution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline">
          <label class="mr-4" for="solGrade">Grade: </label>
          <div class="input-group mb-2 mr-sm-2">
            <input type="number" class="form-control col-3" id="solGrade" name="solGrade" [(ngModel)]="solution.grade">
            <div class="input-group-prepend">
              <div class="input-group-text">/</div>
            </div>
            <div class="input-group-prepend">
              <input type="number" class="form-control col-3" id="totalGrade" name="totalGrade" [(ngModel)]="question.total_grade">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveSolution()" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" [id]="'deleteSolution-' + solution.id">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure that you want to delete this solution?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This action can't be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteSolution(solution)" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
