.card {
  .card-img {
    object-fit: cover;
    width: 100%;
    height: 40vh;
    opacity: 0.5;
  }
}

.scan-modal {
  .modal-content {
    background: transparent;
    border: 0;
  }

  .sol-image-modal {
    width: 100%;
  }
}
