<div *ngIf="faculty$ | async as faculty">
<div class="alert alert-info" *ngIf="isAdmin$ | async">You have admin access for this faculty</div>

  <div class="jumbotron jumbotron">
    <h1 class="display-4">{{ faculty.name }} </h1>
    <p class="lead">Welcome to the "{{ faculty.name }}" faculty page. Below is the list of available courses.</p>
    <button class="btn btn-primary mr-2" [ngbPopover]="adminsPopContent" placement="bottom" popoverClass="popover-no-padding"><fa-icon icon="chevron-down" class="mr-2"></fa-icon>Faculty Admins</button>
    <button class="btn btn-success" *ngIf="isAdmin$ | async" (click)="openCreateCourseModal(createCourseModal, faculty.id)"><fa-icon icon="plus" class="mr-2"></fa-icon>Create Course</button>
  </div>

  <div *ngIf="courses$ | async as courses; else loadingCourses">
    <ul class="list-group-flush" *ngIf="courses.length > 0; else noCourses">
      <li class="list-group-item" *ngFor="let course of courses">
        <h6 class="course-title m-2">
          <a [routerLink]="'/course/' + course.id">
            {{ course.id | courseId }}: {{ course.name }}
          </a>
        </h6>
        <a class="btn btn-primary mr-2 float-right" [attr.href]="'https://www.facebook.com/search/groups/?q=' + course.id" target="_blank"><fa-icon [icon]="['fab', 'facebook-square']" class="mr-2"></fa-icon>Facebook Group</a>
        <a *ngIf="course.id.toString().startsWith('23')" class="btn btn-secondary mr-2 float-right" [attr.href]="'https://webcourse.cs.technion.ac.il/'+ course.id" target="_blank"><fa-icon icon="globe" class="mr-2"></fa-icon>Course Website</a>
      </li>
    </ul>

    <ng-template #noCourses>
      <div class="alert alert-info">
        <fa-icon icon="info" class="mr-2"></fa-icon>
        There are no courses in the system for this faculty. Please contact a faculty admin and ask to add a course.
      </div>
    </ng-template>

  </div>

  <ng-template #loadingCourses>
    <div class="text-center">
      <fa-icon icon="spinner" spin="spin" size="5x"></fa-icon>
    </div>
  </ng-template>

  <ng-template #adminsPopContent>
    <ul class="list-group" *ngIf="facultyAdmins$ | async as admins; else loadingAdmins">
      <a *ngFor="let admin of admins" class="list-group-item list-group-item-action" [routerLink]="'/profile/' + admin.uid">
        <div class="media p-0">
          <img [src]="admin.photoUrl" class="rounded-circle mr-3" width="30" [alt]="admin.name"/>
          <div class="media-body">
            {{ admin.name }}
          </div>
        </div>
      </a>
      <li *ngIf="admins.length === 0" class="list-group-item">
        There are no admins for this faculty
      </li>
    </ul>
    <ng-template #loadingAdmins>
      <fa-icon icon="spinner"></fa-icon>
    </ng-template>
  </ng-template>

  <ng-template #createCourseModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Create Course For {{faculty.name}} faculty</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group form-inline">
          <label for="courseNum">Course Number:</label>
          <div class="input-group ml-2">
            <input name="courseNum" min="1" id="courseNum" class="form-control" type="number" style="width: 100px" [(ngModel)]="newCourse.id">
          </div>
        </div>
        <div class="form-group form-inline">
          <label for="courseName">Course Name:</label>
          <div class="input-group ml-2">
            <input name="courseName" id="courseName" class="form-control" [(ngModel)]="newCourse.name">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-success" (click)="modal.close(true)">Create Course</button>
    </div>
  </ng-template>
</div>
