.upload-thumbnail-image-placeholder {
  padding: 30px 20px;
  background: #f6f6f6;
}

.upload-thumbnail-image-placeholder img {
  width: 100%;
}

.card-title span {
  font-size: 70%;
  opacity: 0.6;
}

.scan-properties {
  list-style: none;
  padding: 0;
  text-align: center;
}

.scan-properties .scan-properties-icon {
  font-size: 200%;
  display: block;
}

.full-width {
  width: 100%;
}

#imagesCollapse .card {
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.mat-checkbox {
  position: absolute;
  right: 5px;
  top: 5px;
}
