<div class="row">
  <div class="accordion col-9" id="accordionExample">

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Upload a new scan
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"  accept="application/pdf" #file (change)="onFileSelected($event)" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Choose pages for uploading
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <table>
            <tr *ngFor="let img of images; let i = index">

              <td><button (click)="removePage(img)">X</button></td>
              <td><img [src]="img" width="300"/></td>
              <td>
                Question Number: <input type="number" /><br>
                Grade: <input type="number" />
              </td>

            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="col-3">

    <div class="card">
      <div class="upload-thumbnail-image-placeholder">
        <img class="align-middle" src="/assets/images/testock-logo.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <!--{{ course.name }}-->
          Introduction to Artificial Intelligence
          <span>
            <!--{{ this.semester }} {{ this.year }}-->
            Winter 2017-2018
          </span>
        </h5>
        <ul class="scan-properties">
          <li>
            <span class="scan-properties-icon">
              <fa name="hashtag"></fa>
            </span>
            <span class="scan-properties-text">
              <!--{{ course.id }}-->
              236363
            </span>
          </li>
          <li>
            <span class="scan-properties-icon">
              <fa name="home"></fa>
            </span>
            <span class="scan-properties-text">
              <!--{{ course.faculty }}-->
              Computer Science
            </span>
          </li>
        </ul>
        <p class="card-text">In here we will show the details about the selected images of the scan itself. <br /> To Be Done...</p>
        <Button href="#" class="btn btn-primary">Upload Scan</Button>
      </div>
    </div>
  </div>

</div>
