<div class="modal-header">
  <h4 class="modal-title">Preview of upload</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="solutions.length !== 0; else noQuestions">Please take a minute to review the solutions you selected before you upload them</div>
  <ng-template #noQuestions>
    <div class="text-center">There are no questions in your upload</div>
  </ng-template>
</div>
<div class="card mb-0" *ngFor="let sol of solutions; let i = index">
  <div class="card-header">
    <h4 class="mb-0">
      <button class="btn btn-link" (click)="collapsed[i] = !collapsed[i]">
        <fa [name]="collapsed[i] ? 'plus' : 'minus'" class="mr-2"></fa>
        Question {{sol.number}}
      </button>
      <button class="btn btn-link float-right" disabled>
         {{sol.grade}} / {{sol.points}}
      </button>
    </h4>
  </div>
  <div [ngbCollapse]="collapsed[i]">
    <div class="card-body">
      <div *ngIf="!sol.images || sol.images.length == 0" class="text-center">
        <small>There is no solution selected for this question</small>
      </div>
      <div *ngFor="let image of sol.images; let i = index">
        <img [src]="image.base64" alt="scan page crop" style="width: 100%"/>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
