@import "~src/assets/styles/mixins.scss";

.card {
  margin-bottom: 5px;

  .card-header {
    padding: 0.2rem;

    .btn-link {
      color: inherit;
      font-weight: 600;
      font-size: 70%;
      text-decoration: none;
    }
  }

  .add-images-button {
    background-color: transparent;
  }

  .grades-container {
    margin-top: 4px;

    input {
      width: 30px;
      font-size: 70%;
      text-align: right;
      padding: 4px 0;
      border: 0;
      border-bottom: 2px solid #e1e1e1;
      background-color: transparent;
      text-align: left;
      outline: none;

      &:focus {
        border-bottom-color: #007bff;
      }

      &.lhs {
        direction: rtl;
        text-align: right;
      }
    }
  }

  .question-images {
    img {
      width: 100%;
      margin-bottom: 3px;
    }
  }

  .card-body {
    padding: 0.5rem;

    .question-image {
      position: relative;
      margin-bottom: 5px;

      .image-popup {
        @include transition(opacity, .3s);

        opacity: 0;

        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        background: rgba(0, 0, 0, .7);
        text-align: center;

        .image-remove-button {
          position: relative;
          top: 50%;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          background-color: transparent;
          font-size: 2rem;
          color: #ffffff;
          padding: 0;
          line-height: 0;
        }
      }

      &:hover .image-popup {
        opacity: 1;
      }
    }

  }
}
