<div class="col-1">
  <div class="thumbnail">
    <app-facebook-profile-picture class="mb-2 img-thumbnail" [fbUid]="comment.creator.fbId"></app-facebook-profile-picture>
  </div>
</div>

<div class="col-8">
  <div class="card">
    <div class="card-header">
      <strong>{{comment.creator.name}}</strong> <span class="text-muted float-right">Posted {{comment.created.toDate() | date: 'dd/MM/yyyy HH:mm'}}</span>
    </div>
    <div class="card-body" [innerHTML]="comment.text"></div>
  </div>
</div>
