<button class="exit" (click)="closePlanet()">x</button>
<div class="sidebar">
  <img class="planet-image" [src]="'../../../assets/images/gamification/planets/' + planet.image" alt="Planets">
  <div class="scoreboard">
    <h4 class="title">Planet Leaders</h4>
    <ul class="users">
      <li class="user" *ngFor="let planetUser of (planet_users | async); index as i">
        <span class="user-rating"># {{i + 1}}</span>
        <img class="user-image" src="{{planetUser.photoUrl}}" alt="Profile image">
        <div class="user-text">
          <span class="user-name">{{planetUser.name}}</span>
          <span class="user-score">
            <fa name="diamond"></fa>
            {{planetUser.points}}
          </span>
        </div>
      </li>
    </ul>
    <p class="empty-planet-notice" *ngIf="(planet_users | async).length == 0">Still no users on this planet</p>
  </div>
</div>
<div class="content">
  <div class="text">
    <h2 class="title">{{ planet.title }}</h2>
    <h3 class="description">
      {{ planet.description }}
      <span class="limits label">{{planet.min_points}} - {{planet.max_points}} Points</span>
    </h3>
  </div>
  <div class="monsters-container">
    <h4>
      Planet's Monsters
      <span class="next-monster label" *ngIf="pointsForNextMonster > 0">next monster at {{pointsForNextMonster}} points</span>
    </h4>
    <ul class="monsters">
      <li class="monster" [class.owned]="monster.owned" *ngFor="let monster of planet.monsters">
        <button class="monster-thumb-button">
          <img [src]="'../../../assets/images/gamification/monsters/' + monster.image" alt="" class="monster-thumb">
        </button>
      </li>
    </ul>
  </div>
</div>
