<button class="exit" (click)="closePlanet()">x</button>
<div class="sidebar">
  <img class="planet-image" [src]="'../../../assets/images/gamification/planets/' + planet.image" alt="Planets">
  <div class="scoreboard">
    <h4 class="title">Scoreboard</h4>
    <ul class="users">
      <li class="user" *ngFor="let planet_user of planet_users">
        <span class="user-rating"># {{planet_user}}</span>
        <img class="user-image" src="" alt="">
        <div class="user-text">
          <span class="user-name">Ron Marcovich</span>
          <span class="user-score">
            <fa name="diamond"></fa>
            564
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="content">
  <div class="text">
    <h2 class="title">{{ planet.title }}</h2>
    <h3 class="description">{{ planet.description }}</h3>
  </div>
  <div class="monsters-container">
    <h4>Planet's Monsters</h4>
    <ul class="monsters">
      <li [class]="'monster' + ((monster.owned) ? ' owned' : '')" *ngFor="let monster of planet.monsters">
        <button class="monster-thumb-button">
          <img [src]="'../../../assets/images/gamification/monsters/' + monster.image" alt="" class="monster-thumb">
        </button>
      </li>
    </ul>
  </div>
</div>
