.secondary-title {
  font-size: 70%;
  opacity: 0.6;
}

.top-toolbar {
  height: 69px;

  .card-header {
    padding: 0.75rem 1.25rem;
  }
}

.right-toolbar {
  top: 69px;
  max-height: 92vh;
}

.questions-container {
  overflow-y: auto;
  height: 85vh;
}
