.upload-thumbnail-image-placeholder {
  padding: 30px 20px;
  background: #f6f6f6;

  img {
    width: 100%;
  }
}

.secondary-title {
  font-size: 70%;
  opacity: 0.6;
}

.top-toolbar {
  height: 69px;

  .card-header {
    padding: 0.75rem 1.25rem;
  }
}

.right-toolbar {
  top: 69px;
  height: 95vh
}

.questions-container {
  overflow-y: auto;
  height: 85vh;
}
