<div class="card sticky-top top-toolbar">
  <div class="card-header">
    <div class="row">
      <div class="col-4">
        <h5 *ngIf="course && moed" class="mb-1">
          {{ course?.name }} ({{course?.id}})
          <span style="display: block" class="secondary-title">
            {{ moed | fullMoed }}
          </span>
        </h5>
      </div>
      <div class="col-8">
        <div class="btn-toolbar float-right">
          <button type="button" class="btn btn-success" (click)="restoreHiddenPages()" [ngbTooltip]="'Restore ' + hiddenPagesCount + ' Hidden Pages'" *ngIf="hiddenPagesCount">
            <fa name="undo" class="mr-2"></fa>
            <span class="badge badge-light">{{ hiddenPagesCount }}</span>
          </button>

          <div class="btn-group ml-2" role="group" aria-label="Clean Pages">
            <button type="button" class="btn btn-danger"><fa name="eye-slash"></fa></button>
            <button type="button" class="btn btn-danger" (click)="hideFirstPage()" ngbTooltip="Hide First Page">First</button>
            <button type="button" class="btn btn-danger" (click)="hideEvenPages()" ngbTooltip="Hide Even Pages">Even</button>
            <button type="button" class="btn btn-danger" (click)="hideOddPages()" ngbTooltip="Hide Odd Pages">Odd</button>
            <button type="button" class="btn btn-danger" (click)="hideBlankPages()" ngbTooltip="Hide Blank Pages">Blank</button>
          </div>
          <button class="btn btn-secondary ml-3"
                  (click)="preview()">
            <fa name="eye" class="mr-2"></fa>Preview Solutions
          </button>

          <button class="btn btn-success ml-2"
                  (click)="emitUpload()">
            <fa name="upload" class="mr-2"></fa>Upload Scan
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="alert alert-warning mt-2" *ngIf="activeQuestion">
      <fa name="info" class="mr-2"></fa> Choose question {{ activeQuestion.number }} answers
    </div>
    <div class="alert alert-primary mt-2" *ngIf="!activeQuestion">
      <fa name="info" class="mr-2"></fa> Choose a question to edit from the right toolbar
    </div>
    <div class="card">
      <div class="card-body px-4 py-2">
        <div class="row">
          <div class="col-6 p-2" *ngFor="let page of pages; let i = index" [hidden]="page.hidden">
            <app-scan-page
              [scanPage]="page"
              [addImageTo]="activeQuestion"
              (hide)="hidePage(page)"
            ></app-scan-page>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 sticky-top right-toolbar">
    <button class="btn btn-outline-primary btn-block mt-2" type="button" (click)="addQuestion(newQuestionModal)">
      <fa name="plus" class="mr-2"></fa>Add Question
    </button>
    <div *ngIf="questions" class="questions-container mt-1">
      <div class="mt-2">
        <div class="accordion">
          <app-question-solution
            *ngFor="let q of questions"
            [sol]="q"
            [quickMode]="false"
            (activateRequested)="activateQuestion(q)"
            (deactivateRequested)="activeQuestion = null"
            (deleteRequested)="deleteQuestion(q)"
            [collapsed]="activeQuestion !== q"
            [active]="activeQuestion === q"
          ></app-question-solution>
          <div class="alert alert-primary" *ngIf="questions.length == 0">
            <fa name="info" class="mr-2"></fa>
            Click below to insert a question
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #newQuestionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Insert Question</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group form-inline">
        <label for="questionNum">Question #:</label>
        <div class="input-group ml-2">
          <input name="questionNum" min="1" id="questionNum" class="form-control" type="number" style="width: 100px" [(ngModel)]="newQuestionNum">
        </div>
      </div>
      <div class="form-group form-inline">
        <label for="totalGrade">Total Grade:</label>
        <div class="input-group ml-2">
          <input name="totalGrade" min="1" max="100" id="totalGrade" class="form-control" type="number" style="width: 100px" [(ngModel)]="newQuestionGrade">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')" ngbAutofocus>Done</button>
  </div>
</ng-template>


