<div class="list-group my-3" *ngIf="(pendingScans$ | async) as pendingScans">
  <li class="list-group-item list-group-item-primary">
    <b>Pending Scans</b>
    <span class="badge badge-info ml-1">{{pendingScans.length}}</span>
  </li>
  <button *ngFor="let p of pendingScans" (click)="openPendingScanModal(p)" class="list-group-item list-group-item-action">
    <fa-icon icon="file" class="mr-2"></fa-icon> {{ p.moed | fullMoed }}
    <button class="btn btn-sm btn-danger float-right" (click)="removePendingScan($event, p)" *ngIf="adminAccess">
      <fa-icon icon="times"></fa-icon>
    </button>
  </button>
  <li class="list-group-item" *ngIf="pendingScans.length == 0">
    There are no pending scans at the moment 😊
  </li>
</div>
