<div class="list-group my-3" *ngIf="(pendingScans$ | async) as pendingScans">
  <li class="list-group-item list-group-item-primary">
    <b>Pending Scans</b>
    <span class="badge badge-info ml-1">{{pendingScans.length}}</span>
  </li>
  <a *ngFor="let p of pendingScans" routerLink="/pendingScan/{{ p.id }}" class="list-group-item list-group-item-action">
    Pending Scan Uploaded at {{ p.created.toDate() | date: 'dd/MM/yyyy HH:mm' }}
    <button class="btn btn-sm btn-danger float-right" (click)="removePendingScan(p)" *ngIf="adminAccess">
      <fa name="times"></fa>
    </button>
  </a>
  <li class="list-group-item" *ngIf="pendingScans.length == 0">
    There are no pending scans at the moment 😊
  </li>
</div>
