<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="jumbotron" *ngIf="(user$ | async) as user">
        <div class="media">
          <img class="mr-4 rounded-circle" [src]="user.photoUrl" height=100 alt="">
          <div class="media-body">
            <h1 class="display-4">
              {{user.name}}
            </h1>
            <p class="lead">{{user.faculty}}</p>
          </div>
          <button class="btn btn-lg btn-warning ml-2" type="button" routerLink="/world">
            <fa name="diamond"></fa>
            {{ user.points }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="isMyProfile">
  <div class="col-6">
    <h3>Personal progress:</h3>
    <table matSort (matSortChange)="sortQuestions($event)" class="table table-hover" *ngIf="questions" >
      <thead>
      <tr class="table-success">
        <th colspan="9">
          Questions you solved:
          <span class="badge badge-success">{{questions.length}}</span>
        </th>
      </tr>
      <tr class="table-light text-center" >
        <th scope="col" mat-sort-header="course">Course</th>
        <th scope="col" mat-sort-header="year">Year</th>
        <th scope="col" mat-sort-header="semester">Semester</th>
        <th scope="col" mat-sort-header="moed">Moed</th>
        <th scope="col" mat-sort-header="number">Question No.</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let q of questions">
        <td>{{ q.course }}</td>
        <td>{{ q.year }}</td>
        <td>{{ q.semester | titlecase}}</td>
        <td>{{ q.moed | titlecase}}</td>
        <td>{{ q.number }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <h3>Notifications</h3>
    <app-notifications-list [notifications]="(notifications$ | async)"></app-notifications-list>
  </div>
</div>
