<!--div class="jumbotron">
  <h1 class="display-4">topic.title</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div-->



<!--div class="alert alert-info" *ngIf="adminAccess">You have admin access for this course</div-->
<div class="jumbotron jumbotron"><!-- *ngIf-->
  <h1 class="display-4">{{topic.subject}}</h1>
  <p class="lead">{{topic.text}}</p>
  <hr class="my-4">
  <p><strong>{{topic.creator}}</strong> created this topic at {{topic.time}}</p>
</div>

<!--app-comments [topic]="id"-->
<!--div class="list-group my-3" *ngIf--...>
  <li class="list-group-item list-group-item-primary">
    <fa name="comments-o"></fa>
    Comments
    <span class="badge badge-primary">comments.length</span>
  </li>
  <div *ngFor="let t of [1,2,3,4]">
    <p class="list-group-item list-group-item-action">comment {{t }} + metadata</p>
  </div>
</div>

text editor for adding comment-->
<!--/app-comments-->
