<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">User?</th>
    <th scope="col">Admin?</th>
    <th scope="col">Faculty Admin?</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; let i = index">
    <th scope="row">{{i+1}}</th>
    <th>{{user.name}}</th>
    <td>{{user.email}}</td>
    <td><input type="checkbox" [ngModel]="user.roles.user" (change)="userPermissionChanged(user, $event)"></td>
    <td><input type="checkbox" [ngModel]="user.roles.admin" (change)="adminPermissionChanged(user, $event)"></td>
    <td>
      <div class="badge badge-info p-2" *ngIf="!user.roles.faculty_admin || user.roles.faculty_admin.length == 0">None</div>
      <div class="badge badge-success mr-2 p-2" *ngFor="let f of user.roles.faculty_admin"><span class="mr-1">{{f}}</span><fa name="times"></fa></div>
    </td>
  </tr>
  </tbody>
</table>
