table {
  width: 100%;
}

tr.exam-detail-row {
  height: 0;
}

tr.exam-row:not(.exam-expanded-row):hover {
  background: #f5f5f5;
}

tr.exam-row:not(.exam-expanded-row):active {
  background: #efefef;
}

.exam-row td {
  border-bottom-width: 0;
}

.exam-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.exam-row {
  cursor: pointer;
  &:hover {
    background: rgba(0,0,0,0.2);
  }
}

.exam-description {
  padding: 16px 0;
  width: 100%;

  .exam-button {
    font-size: 90%;
    float: left;
  }

  .questions-container {
    &:after {
      display: table;
      clear: both;
    }

    .question-button {
      float: left;
      font-size: 90%;
    }
  }
}
