<header>
  <div id="topbar">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" routerLink="/">
          <img src="/assets/images/testock-logo.png" alt="" height="25">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/courses">Courses</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lrg-0">
            <input class="form-control mr-sm-2" type="text" (keyup)="onSearchChange($event.target.value)" placeholder="Search course..." aria-label="Search">
          </form>
          <button class="btn btn-outline-primary mr-2" type="button" routerLink="/upload">Upload scan</button>
          <!-- User logged in -->
          <div *ngIf="auth.currentUser">
            <button class="btn btn-outline-danger mr-2" type="button" (click)="logout()">Logout</button>
            <img class="mr-2" [src]="auth.currentUser.photoURL" width=35px routerLink="/profile">
          </div>
          <!-- User NOT logged in -->
          <div *ngIf="!auth.currentUser">
            <button class="btn btn-outline-success mr-2" type="button" routerLink="/login">Login</button>
          </div>

          <div *ngIf="isAdmin">
            <button class="btn btn-outline-danger mr-2" type="button" routerLink="/admin">Admin CP</button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
