<header>
  <div id="topbar">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/assets/images/testock-logo.png" alt="" height="25">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" routerLink="/faculties">Faculties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/courses">Courses</a>
            </li>
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" routerLink="/upload">Upload</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link disabled" href="#">ScoreBoard</a>-->
            <!--</li>-->
          </ul>
          <form class="form-inline my-2 my-lrg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search course..." aria-label="Search">
            <button class="btn btn-outline-success mr-2" type="submit" routerLink="/courses">Search</button>
            <button class="btn btn-outline-primary" type="button" routerLink="/upload">Upload scan</button>
          </form>
        </div>
      </nav>
    </div>
  </div>

  <app-breadcrumbs></app-breadcrumbs>

</header>


