#topbar {
  background: #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;

  .container {
    padding: 5px 0;
  }

  .profile-image {
    display: inline-block;
    cursor: pointer;
  }
  .notification-button {
    position: relative;

    .notification-badge {
      position: absolute;
      display: block;
      top: 0;
      right: 2px;
      font-size: 70%;
      border: 1px solid #8d6805;
    }
  }
}


