<header>
  <div id="topbar">
    <div class="container">
      <nav class="navbar navbar-expand-xl navbar-light">
        <a class="navbar-brand" routerLink="/">
          <img src="/assets/images/testock-logo.png" alt="" height="25">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" [class.dropdown]="faculties.length > 0" *ngIf="(faculties$ | async) as faculties; else noFacultiesItem">
              <ng-container *ngIf="faculties.length > 0; else noFacultiesLink">
                <a class="nav-link dropdown-toggle" href="#" id="facultiesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Faculties</a>
                <div class="dropdown-menu" aria-labelledby="facultiesDropdown">
                  <a class="dropdown-item" *ngFor="let faculty of faculties" [routerLink]="'/faculty/' + faculty.id">{{ faculty.name }}</a>
                </div>
              </ng-container>
              <ng-template #noFacultiesLink>
                <a class="nav-link" routerLink="/faculties">Faculties</a>
              </ng-template>
            </li>
            <ng-template #noFacultiesItem>
              <li>
                <a class="nav-link" routerLink="/faculties">Faculties</a>
              </li>
            </ng-template>

            <li class="nav-item" [class.dropdown]="favoriteCourses.length > 0" *ngIf="(favoriteCourses$ | async) as favoriteCourses; else noFavoritesItem">
              <ng-container *ngIf="favoriteCourses.length > 0; else noFavoritesLink">
                <a class="nav-link dropdown-toggle" href="#" id="coursesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
                <div class="dropdown-menu" aria-labelledby="coursesDropdown">
                  <a class="dropdown-item" routerLink="/courses">All Courses</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" *ngFor="let course of favoriteCourses" [routerLink]="'/course/' + course.id">{{ course.name }}</a>
                </div>
              </ng-container>
              <ng-template #noFavoritesLink>
                <a class="nav-link" routerLink="/courses">Courses</a>
              </ng-template>
            </li>
            <ng-template #noFavoritesItem>
              <li class="nav-item">
                <a class="nav-link" routerLink="/courses">Courses</a>
              </li>
            </ng-template>
            <li class="nav-item">
              <a class="nav-link" routerLink="/help">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lrg-0">
            <input class="form-control mr-sm-2" type="text" (keyup)="onSearchChange($event)" placeholder="Search course..." aria-label="Search">
          </form>

          <!-- User logged in -->
          <div *ngIf="auth.user$ | async as user">
            <button type="button" class="btn btn-outline-primary align-middle mr-2" *ngIf="auth.currentUser" routerLink="/upload">
              <fa-icon icon="upload" class="mr-2"></fa-icon>
              <span>Upload Scan</span>
            </button>
            <button type="button" class="btn notification-button mr-2"  #notificationPopover="ngbPopover" [ngbPopover]="notificationsContent" [popoverTitle]="notificationsTitle" [autoClose]="'outside'" popoverClass="notification-popover">
              <span class="notification-badge badge badge-warning" routerLink="/profile" *ngIf="(notificationsCount$ | async) && (notificationsCount$ | async) > 0">{{ (notificationsCount$ | async) }}</span>
              <fa-icon icon="bell" size="lg"></fa-icon>
            </button>
            <div class="profile-image mr-2" routerLink="/profile">
              <img class="rounded" [src]="user.photoUrl" width="35px">
            </div>
            <button class="btn btn-warning mr-2" type="button" routerLink="/world">
              <fa-icon [icon]="['far', 'gem']"></fa-icon>
              {{ user.points }}
            </button>

            <ng-template #notificationsContent><app-notifications-list [user]="auth.user$" (notificationClicked)="notificationPopover.close()"></app-notifications-list></ng-template>
            <ng-template #notificationsTitle>What's new? ({{notificationsCount$ | async}})</ng-template>
          </div>

          <!-- User NOT logged in -->
          <div *ngIf="!auth.currentUser">
            <button class="btn btn-outline-success mr-2" type="button" (click)="login()">
            <fa-icon icon="sign-in-alt"></fa-icon>
              Sign In
            </button>
          </div>

          <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="auth.currentUser">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item *ngIf="isAdmin$ | async" routerLink="/batch-upload">
              <mat-icon>cloud_upload</mat-icon>
              <span>Batch Upload</span>
            </button>
            <button mat-menu-item *ngIf="isAdmin$ | async" routerLink="/admin">
              <mat-icon>settings</mat-icon>
              <span>Admin CP</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Sign Out</span>
            </button>
          </mat-menu>
        </div>
      </nav>
    </div>
  </div>
</header>
