<div class="alert alert-info" *ngIf="adminAccess">You have admin access for this exam</div>
<div class="card" *ngIf="exam">
  <h5 class="card-header" *ngIf="this.exam">
    {{exam.semester | titlecase}} {{ exam.year }} - Moed {{exam.moed}}
    <a target="_blank" href="https://us-central1-yp5779-testock.cloudfunctions.net/getPDFofExam?course={{ courseId }}&year={{exam.year}}&semester={{exam.semester}}&moed={{exam.moed}}">
      <button type="button" class="btn btn-danger float-right">Download full PDF solution!</button>
    </a>
  </h5>
  <div class="card-body">
    <div class="list-group my-3" >
      <li class="list-group-item list-group-item-danger">Solved questions</li>
      <a *ngFor="let q of questions" routerLink="/question/{{ q.id }}" class="list-group-item list-group-item-action">
        Question {{ q.number }} ({{q.total_grade}} Points)
      </a>
    </div>
  </div>
</div>
