<h1 *ngIf="this.exam">{{exam.semester | titlecase}} {{ exam.year }} - Moed {{exam.moed}}</h1>
<div>
  <a *ngIf="exam"
     href="https://us-central1-yp5779-testock.cloudfunctions.net/getPDFofExam?course={{ courseId }}&year={{exam.year}}&semester={{exam.semester}}&moed={{exam.moed}}"
     target="_blank">
    <h4>Download generated solution</h4>
  </a>
</div>
<h2>Question in this exam:</h2>
<ul>
  <li *ngFor="let q of questions">
    <a routerLink="/question/{{ q.id }}">Question {{ q.number }} ({{q.total_grade}} Points)</a>
  </li>
</ul>
