<div class="jumbotron jumbotron">
  <div class="container">
    <h1 *ngIf="this.course" class="display-4">{{ this.course.id }}</h1>
    <p class="lead">Welcome to the "{{ this.course.name }}" ({{ this.course.id }}) course page . Good luck in your exams!</p>
    <button type="button" class="btn btn-primary m-1" href="#">Facebook group</button>
    <button type="button" class="btn btn-secondary m-1" href="#">Webcourse</button>
  </div>
</div>

<!--<ul>-->
  <!--<li *ngFor="let q of questions">-->
    <!--<a routerLink="/question/{{ q.id }}">{{ q.semester | titlecase}} {{ q.year }} - Moed {{ q.moed | titlecase}}: Question {{ q.number }} </a>-->
  <!--</li>-->
<!--</ul>-->
<!--<ul>-->
  <!--<li *ngFor="let e of exams">-->
    <!--<a routerLink="exam/{{ e.id }}">{{e.semester | titlecase}} {{ e.year }} - Moed {{e.moed}}</a>-->
  <!--</li>-->
<!--</ul>-->
