<div class="alert alert-info" *ngIf="adminAccess">You have admin access for this course</div>

<div class="jumbotron jumbotron" *ngIf="course">
  <h1 class="display-4">{{ course.name }} ({{ course.id }})</h1>
  <p class="lead">Welcome to the "{{ course.name }}" ({{ course.id }}) course page. Good luck in your exams!</p>
  <p class="lead">
    <a class="btn btn-primary mr-2" [attr.href]="'https://www.facebook.com/search/groups/?q=' + course.id" target="_blank"><fa name="facebook" class="mr-2"></fa>Facebook Group</a>
    <a *ngIf="course.id.toString().startsWith('23')" class="btn btn-secondary mr-2" [attr.href]="'https://webcourse.cs.technion.ac.il/'+ course.id" target="_blank"><fa name="globe" class="mr-2"></fa>Course Website</a>
  </p>
</div>

<div class="list-group my-3" *ngIf="topics$ | async as topics">
  <div class="list-group-item list-group-item-info">
    <fa name="comment" class="mr-2"></fa>
    Forum
    <span class="badge badge-info">{{topics.length}}</span>
    <button role="button" class="btn btn-info float-right" data-toggle="modal" data-target="#createTopicModal">
      <fa name="plus" class="mr-1"></fa>
      Add Topic
    </button>
  </div>
  <a routerLink="/topic/{{ topic.id }}" class="list-group-item list-group-item-action" *ngFor="let topic of topics;">
    {{ topic.subject }}
    <span class="float-right col-4">
      <img [src]="topic.creator.photoUrl" class="mr-2 topic-creator-profile-pic" alt=""/>
      <small class="mr-2">{{ topic.creator.name }}</small>
      <small class="float-right">{{ topic.created.toDate() | date: 'dd/MM/yyyy HH:mm' }}</small>
    </span>
  </a>
</div>
<div class="modal fade" id="createTopicModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Create new topic</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-create-topic [linkedCourseId]="id"></app-create-topic>
      </div>
    </div>
  </div>
</div>

<table matSort (matSortChange)="sortExams($event)" class="table table-hover" *ngIf="exams" >
  <thead>
  <tr class="table-primary">
    <th colspan="9">
      Available Exams
      <span class="badge badge-primary">{{exams.length}}</span>
    </th>
  </tr>
  <tr class="table-light">
    <th class="text-center" scope="col" style="width: 5%"></th>
    <th class="text-center" scope="col" style="width: 10%" mat-sort-header="year">Year</th>
    <th class="text-center" scope="col" style="width: 10%" mat-sort-header="semester">Semester</th>
    <th class="text-center" scope="col" style="width: 10%" mat-sort-header="moed">Moed</th>
    <th class="text-center" scope="col" mat-sort-header="grade">Grade</th>
    <th class="text-center" scope="col"></th>
    <th class="text-center" scope="col"></th>
    <th class="text-center" scope="col"></th>
    <th class="text-center" scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let e of exams" routerLink="exam/{{ e.id }}">
    <td class="clickable" routerLink="/exam/{{ e.id }}">
      <fa name="external-link-square" style="color: Dodgerblue"></fa>
    </td>
    <td>{{ e.year }}</td>
    <td>{{ e.semester | titlecase}}</td>
    <td>{{ e.moed | titlecase}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>

<table matSort (matSortChange)="sortQuestions($event)" class="table table-hover" *ngIf="questions" >
  <thead>
  <tr class="table-danger">
    <th colspan="9">
      Questions
      <span class="badge badge-danger">{{questions.length}}</span>
    </th>
  </tr>
  <tr class="table-light rounded">
    <th class="text-center" scope="col" style="width: 5%"></th>
    <th class="text-center" scope="col" style="width: 10%" mat-sort-header="year" >Year</th>
    <th class="text-center" scope="col" style="width: 10%" mat-sort-header="semester">Semester</th>
    <th class="text-center" scope="col" style="width: 10%" mat-sort-header="moed">Moed</th>
    <th class="text-center" scope="col" mat-sort-header="number">Question No.</th>
    <th class="text-center" scope="col" mat-sort-header="best_solution">Best solution (%)</th>
    <th class="text-center" scope="col" mat-sort-header="difficulty">Difficulty</th>
    <th class="text-center" scope="col" mat-sort-header="readability">Readability</th>
    <th class="text-center" scope="col" mat-sort-header="is_solved">I Solved It</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let q of questions">
    <td class="clickable" routerLink="/question/{{ q.id }}">
      <fa name="external-link-square" style="color: indianred"></fa>
    </td>
    <td>{{ q.year }}</td>
    <td>{{ q.semester | titlecase}}</td>
    <td>{{ q.moed | titlecase}}</td>
    <td>{{ q.number }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td><mat-checkbox class="example-margin"></mat-checkbox></td>
  </tr>
  </tbody>
</table>

