<div class="jumbotron jumbotron">
  <div class="container">
    <h1 *ngIf="this.course" class="display-4">{{ this.course.id }}</h1>
    <p class="lead">Welcome to the "{{ this.course.name }}" ({{ this.course.id }}) course page. Good luck in your exams!</p>
    <button type="button" class="btn btn-primary m-1" href="#">facebook group</button>
    <button type="button" class="btn btn-secondary m-1" href="#">webcourse</button>
  </div>
</div>
<div class="list-group my-3">
  <li class="list-group-item list-group-item-primary"><fa name="book"></fa> Available exams</li>
  <div *ngFor="let e of exams">
    <a routerLink="exam/{{ e.id }}" class="list-group-item list-group-item-action">{{e.semester | titlecase}} {{ e.year }} - Moed {{e.moed}}</a>
  </div>
</div>
<div class="list-group my-3">
  <li class="list-group-item list-group-item-danger"><fa name="fire"></fa> Hot questions</li>
  <div *ngFor="let q of questions">
    <a routerLink="/question/{{ q.id }}" class="list-group-item list-group-item-action">{{ q.semester | titlecase}} {{ q.year }} - Moed {{ q.moed | titlecase}}: Question {{ q.number }}</a>
  </div>
</div>
