<div class="row">
  <div class="col-8">
    <div class="alert alert-success mt-2" *ngIf="activeQuestion">
      <fa name="info" class="mr-2"></fa> Choose question {{ activeQuestion.number }} answers
    </div>
    <div class="card">
      <div class="card-body px-4 py-2">
        <div class="row">
          <div class="col-3 p-2" *ngFor="let page of pages; let i = index" [hidden]="page.hidden">
            <app-upload-scan-page-new [scanPage]="page" [addImageTo]="activeQuestion"></app-upload-scan-page-new>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div *ngIf="course && pendingScan">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ course?.name }}
            <span style="display: block">
              {{ pendingScan.moed | fullMoed }}
            </span>
          </h5>
          <ul class="scan-properties row">
            <li class="col-6">
              <span class="scan-properties-icon">
                <fa name="hashtag"></fa>
              </span>
              <span class="scan-properties-text">
                {{ course?.id }}
              </span>
            </li>
            <li class="col-6">
              <span class="scan-properties-icon">
                <fa name="home"></fa>
              </span>
              <span class="scan-properties-text">
                {{ course?.faculty.name }}
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body">
          <div class="btn-toolbar">
            <div class="btn-group btn-group-sm" role="group" aria-label="Clean Pages">
              <button type="button" class="btn btn-danger"><fa name="eye-slash"></fa></button>
              <button type="button" class="btn btn-danger" (click)="hideFirstPage()" ngbTooltip="Hide First Page">First</button>
              <button type="button" class="btn btn-danger" (click)="hideEvenPages()" ngbTooltip="Hide Even Pages">Even</button>
              <button type="button" class="btn btn-danger" (click)="hideOddPages()" ngbTooltip="Hide Odd Pages">Odd</button>
              <button type="button" class="btn btn-danger" (click)="hideBlankPages()" ngbTooltip="Hide Blank Pages">Blank</button>
            </div>
            <div class="btn-group btn-group-sm ml-2" role="group" aria-label="Restore Pages">
              <button type="button" class="btn btn-success" (click)="restoreHiddenPages()" ngbTooltip="Restore Hidden Pages"><fa name="undo" class="mr-2"></fa>Restore</button>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-2">
        <div class="accordion">
          <app-upload-question-new *ngFor="let q of questions" [sol]="q" [quickMode]="false" (imageAddRequested)="imageAddRequested(q)"></app-upload-question-new>
          <div class="alert alert-info" *ngIf="questions.length == 0">
            <fa name="info" class="mr-2"></fa>
            Click below to insert a question
          </div>
        </div>

        <button class="btn btn-primary btn-block mt-2" type="button" (click)="addQuestion(newQuestionModal)">
          Add Question
        </button>
      </div>

      <button id="upload-scan-button" class="btn btn-success btn-block mt-2"
              (click)="uploadImages()">
        Upload Scan
      </button>
    </div>
  </div>
</div>

<ng-template #newQuestionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Insert Question</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group form-inline">
        <label for="questionNum">Question #:</label>
        <div class="input-group ml-2">
          <input name="questionNum" min="1" id="questionNum" class="form-control" type="number" style="width: 100px" [(ngModel)]="newQuestionNum">
        </div>
      </div>
      <div class="form-group form-inline">
        <label for="totalGrade">Total Grade:</label>
        <div class="input-group ml-2">
          <input name="totalGrade" min="1" max="100" id="totalGrade" class="form-control" type="number" style="width: 100px" [(ngModel)]="newQuestionGrade">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')" ngbAutofocus>Done</button>
  </div>
</ng-template>


