.upload-thumbnail-image-placeholder {
  padding: 30px 20px;
  background: #f6f6f6;

  img {
    width: 100%;
  }
}

.scan-properties {
  list-style: none;
  padding: 0;
  text-align: center;

  .scan-properties-icon {
    font-size: 200%;
    display: block;
  }
}

.card-title span {
  font-size: 70%;
  opacity: 0.6;
}
