<div class="list-group" *ngIf="notifications">
  <button [routerLink]="'/' + notification.url" (click)="seen($event, notification, true)" [class.list-group-item-primary]="!notification.seen" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let notification of (notifications$ | async); let i = index">
    <div class="d-flex w-100 align-items-center">
      <button class="seen-toggle-btn w-30" (click)="seen($event, notification, false)" *ngIf="notification.seen == false">
        <fa name="circle-o" *ngIf="notification.seen"></fa>
        <fa name="circle" *ngIf="!notification.seen"></fa>
      </button>
      <p class="mb-1">{{ notification.content }}</p>
      <small class="ml-auto">{{ notification.datetime.toDate() | date: 'dd/MM/yyyy HH:mm' }}</small>
    </div>
  </button>
</div>
