<div class="scan-page-image" (click)="openModal(content)">
  <img [src]="scanPage.imageBase64" alt="scan page crop">
  <div class="image-popup" *ngIf="!addImageTo">
    <button class="btn image-remove-button text-danger" (click)="hide.emit(); $event.stopPropagation()">
      <fa name="eye-slash"></fa>
    </button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header" *ngIf="addImageTo; else viewModeHeader">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="selectImage()"><fa name="check" class="mr-2"></fa>Add selection</button>
  </div>

  <ng-template #viewModeHeader>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Page #{{ scanPage.pageNum }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-template>

  <div class="modal-body">
    <img class="scan-page-image-modal" [src]="scanPage.imageBase64" alt="exam scan image" *ngIf="!addImageTo; else imageCropper">

    <ng-template #imageCropper>
      <image-cropper
        [imageBase64]="scanPage.imageBase64"
        format="jpeg"
        [maintainAspectRatio]="false"
        [resizeToWidth]="1024"
        (imageCropped)="updateCroppedImage($event)"
      ></image-cropper>
    </ng-template>
  </div>

</ng-template>
