@import "../../../../assets/styles/mixins";

.scan-page-number {

}

.scan-page-image-modal {
  width: 100%;
}

.scan-page-image {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: block;

  img {
    width: 100%;
    cursor: pointer;
  }

  .image-popup {
    @include transition(opacity, .3s);

    opacity: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, .3);
  }

  &:hover .image-popup {
    opacity: 1;
  }
}
