.img-thumbnail {
  padding:0;
}
.card {
  position:relative;
}
.card>.card-header:after,.card>.card-header:before{
  position:absolute;
  top:15px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.card>.card-header:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.card>.card-header:before{
  border-right-color:#ddd;
  border-width:8px;
}
