<ul id="planets">
  <li [attr.id]="'planet-' + planet.order" class="planet" *ngFor="let planet of planets">
    <img class="planet-thumb" [src]="'../../../assets/images/gamification/planets/' + planet.image" alt="Planet">
    <div class="planet-text">
      <h2 class="planet-title">{{ planet.title }}</h2>
      <h3 class="planet-description">{{ planet.description }}</h3>
    </div>
  </li>
</ul>

<div class="popup-container">
  <div class="popup-content">
    <app-game-planet [planet]="planets[1]"></app-game-planet>
  </div>
</div>
