<ul id="planets">
  <li id="planet-0" class="planet">
    <img class="planet-thumb" src="../../../assets/images/gamification/planets/planet-level-0.png" alt="Planet 0">
    <div class="planet-text">
      <h2 class="planet-title">level 0</h2>
      <h3 class="planet-description">New Commers</h3>
    </div>
  </li>
  <li id="planet-1" class="planet">
    <img class="planet-thumb" src="../../../assets/images/gamification/planets/planet-level-1.png" alt="Planet 1">
    <div class="planet-text">
      <h2 class="planet-title">level 1</h2>
      <h3 class="planet-description">Quick Starters</h3>
    </div>
  </li>
  <li id="planet-2" class="planet">
    <img class="planet-thumb" src="../../../assets/images/gamification/planets/planet-level-2.png" alt="Planet 2">
    <div class="planet-text">
      <h2 class="planet-title">level 2</h2>
      <h3 class="planet-description">Early Adopters</h3>
    </div>
  </li>
  <li id="planet-3" class="planet">
    <img class="planet-thumb" src="../../../assets/images/gamification/planets/planet-level-3.png" alt="Planet 3">
    <div class="planet-text">
      <h2 class="planet-title">level 3</h2>
      <h3 class="planet-description">True Contributes</h3>
    </div>
  </li>
  <li id="planet-4" class="planet">
    <img class="planet-thumb" src="../../../assets/images/gamification/planets/planet-level-4.png" alt="Planet 4">
    <div class="planet-text">
      <h2 class="planet-title">level 4</h2>
      <h3 class="planet-description">Wise Prophets</h3>
    </div>
  </li>
  <li id="planet-5" class="planet">
    <img class="planet-thumb" src="../../../assets/images/gamification/planets/planet-level-5.png" alt="Planet 5">
    <div class="planet-text">
      <h2 class="planet-title">level 5</h2>
      <h3 class="planet-description">Grand Masters</h3>
    </div>
  </li>
</ul>
