<h1 style="color:DodgerBlue"> {{ (course$ | async)?.name}}  ({{courseID}}): #{{tag}}</h1>
<br>
<table matSort (matSortChange)="sortQuestions($event)" class="table table-hover" *ngIf="questions$ | async as questions" >
  <thead>
  <tr class="table-danger">
    <th colspan="4">
      Questions
      <span class="badge badge-danger">{{questions.length}}</span>
    </th>
  </tr>
  <tr class="table-light">
    <th class="text-center" scope="col" style="width: 10%" mat-sort-header="year" >Year</th>
    <th class="text-center" scope="col" style="width: 10%" mat-sort-header="semester">Semester</th>
    <th class="text-center" scope="col" style="width: 10%" mat-sort-header="moed">Moed</th>
    <th class="text-center" scope="col" style="width: 10%" mat-sort-header="number">Question No.</th>
  </tr>
  </thead>
  <tbody>
  <tr class="clickable" routerLink="/question/{{ q.id }}" *ngFor="let q of questions">
    <td>{{ q.year }}</td>
    <td>{{ q.semester | titlecase}}</td>
    <td>{{ q.moed | titlecase}}</td>
    <td>{{ q.number }}</td>
  </tr>
  </tbody>
</table>
