<div class="col-1">
  <div class="thumbnail">
    <img [src]="comment.creator.photoUrl" class="mb-2 img-thumbnail" />
    <div *ngIf="allowToMarkAsSolution">
      <button *ngIf="isSolution" class="mt-2 btn btn-success btn-lg" (click)="unmarkAsAnswer()" type="button"><fa name="check"></fa></button>
      <button *ngIf="!isSolution" class="mt-2 btn btn-outline-success btn-lg" (click)="markAsAnswer();" type="button"><fa name="check"></fa></button>
    </div>
    <div class="btn mt-2 btn-success btn-lg" *ngIf="!allowToMarkAsSolution && isSolution">
      <fa name="check"></fa>
    </div>
  </div>
</div>

<div class="col-11">
  <div class="card">
    <div class="card-header">
      <strong>{{comment.creator.name}}</strong> <span class="text-muted float-right">Posted {{comment.created.toDate() | date: 'dd/MM/yyyy HH:mm'}}</span>
    </div>
    <div class="card-body" [innerHTML]="comment.text"></div>
  </div>
</div>
