<div class="col-1">
  <div class="thumbnail">
    <img [src]="comment.creator.photoUrl" class="mb-2 img-thumbnail" [routerLink]="'/profile/' + comment.creator.uid"/>
    <div *ngIf="allowToMarkAsSolution">
      <button *ngIf="isSolution" class="mt-2 btn btn-success btn-lg" (click)="unmarkAsAnswer()" type="button"><fa-icon icon="check"></fa-icon></button>
      <button *ngIf="!isSolution" class="mt-2 btn btn-outline-success btn-lg" (click)="markAsAnswer();" type="button"><fa-icon icon="check"></fa-icon></button>
    </div>
    <div class="btn mt-2 btn-success btn-lg" *ngIf="!allowToMarkAsSolution && isSolution">
      <fa-icon icon="check"></fa-icon>
    </div>
  </div>
</div>

<div class="col-11">
  <div class="card">
    <div class="card-header">
      <strong>{{comment.creator.name}}</strong>
      <span class="text-muted float-right">
        Posted {{comment.created.toDate() | date: 'dd/MM/yyyy HH:mm'}}
      </span>
    </div>
    <div class="card-body">
      <div [innerHTML]="comment.text"></div>
      <button class="btn btn-sm btn-danger float-right" *ngIf="isAdmin" (click)="deleteComment(confirmDeleteComment)"><fa-icon icon="trash"></fa-icon></button>
    </div>
  </div>
</div>

<ng-template #confirmDeleteComment let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete comment</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete this comment?</strong></p>
    <p>
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close(true)">Delete</button>
  </div>
</ng-template>
