<div class="modal-header">
  <div>
    <h4 class="modal-title">Pending Scan for {{ pendingScan.moed | fullMoed }}</h4>
    <div class="display-inline" *ngIf="pendingScan.linkedQuestions.length > 0">
      <strong>Questions on this exam: </strong>
      <a class="badge badge-primary ml-1"
         *ngFor="let linkedQuestion of pendingScan.linkedQuestions"
         (click)="activeModal.dismiss()"
         [routerLink]="'/question/' + linkedQuestion.qid">
        Question {{ linkedQuestion.num }}
      </a>
    </div>
  </div>
  <button class="btn btn-success ml-2" [routerLink]="'/crop-pending/' + pendingScan.id" (click)="activeModal.dismiss()" *ngIf="!pendingScan.uploadInProgress">Crop This Scan</button>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-center mt-2" *ngFor="let img of pendingScan.pages; let i = index">
    <img class="pending-scan-page" [src]="img" alt="pending scan page" />
  </div>
  <h1 class="text-center mt-2" *ngIf="pendingScan.uploadInProgress">
    <fa name="spinner" animation="spin" size="lg">></fa>
  </h1>
  <div class="text-center mt-2">This scan is currently being uploaded</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
