<img class="scan-page-image" [attr.src]="blob | safeUrl" alt="exam scan image" data-toggle="modal"
     [attr.data-target]="'#scan-page-modal-' + index"/>

<div class="modal fade" [attr.id]="'scan-page-modal-' + index" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body" *ngIf="!croppable; else imageCropper">
        <img class="scan-page-image-modal" [attr.src]="blob | safeUrl" alt="exam scan image">
      </div>

      <ng-template #imageCropper>
        <div class="modal-header">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelImageSelection()">Cancel</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="selectImage()">Done</button>
        </div>

        <div class="modal-body">
          <image-cropper
            [imageFileChanged]="blob"
            format="jpg"
            [maintainAspectRatio]="false"
            [resizeToWidth]="1920"
            (imageCropped)="updateCroppedImage($event)"
          ></image-cropper>
        </div>
      </ng-template>

    </div>
  </div>
</div>
