<div class="scan-page-image" (click)="openModal(content)">
  <img [src]="scanPage.imageBase64" alt="scan page crop">
  <div class="image-popup" *ngIf="!addImageTo">
    <button class="btn image-remove-button text-danger" (click)="scanPage.hidden = true; $event.stopPropagation()">
      <fa name="eye-slash"></fa>
    </button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="selectImage()">Done</button>
  </div>
  <div class="modal-body">
    <img class="scan-page-image-modal" [src]="scanPage.imageBase64" alt="exam scan image" *ngIf="!addImageTo; else imageCropper">

    <ng-template #imageCropper>
      <image-cropper
        [imageBase64]="scanPage.imageBase64"
        format="jpeg"
        [maintainAspectRatio]="false"
        [resizeToWidth]="1024"
        (imageCropped)="updateCroppedImage($event)"
      ></image-cropper>
    </ng-template>
  </div>

</ng-template>
