<div class="card">
  <div class="card-header" [attr.id]="'question' + index + '-heading'">
    <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#question' + index" aria-expanded="true" [attr.aria-controls]="'question' + index">
        Question {{ index }}
        <span class="badge badge-success ml-1" *ngIf="pointsReadOnly">Auto Fetch</span>
      </button>
      <button class="btn add-images-button float-right" aria-expanded="true" [attr.aria-controls]="'question' + index" (click)="requestImageAdd()">
        <fa name="plus"></fa>
      </button>
      <div class="grades-container float-right">
        <input class="lhs" type="number" [value]="grade" (input)="updateGrade($event.target.value)"> / <input class="rhs" type="number" [value]="points" [readOnly]="pointsReadOnly" (input)="updatePoints($event.target.value)">
      </div>
    </h5>
  </div>

  <div [attr.id]="'question' + index" class="collapse" [attr.aria-labelledby]="'question' + index + '-heading'" data-parent="#questions">
    <div class="card-body">
      <div class="question-images">
        <div class="question-image" *ngFor="let image of images; let i = index">
          <img [src]="image" alt="scan page crop">
          <div class="image-popup">
            <button class="btn image-remove-button" (click)="removeImage(i)">
              <fa name="trash"></fa>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
