<div *ngIf="pendingScan$ | async as pendingScan">
  <h3>Pending scan for</h3>
  <a [routerLink]="'/course/' + pendingScan.course"><h1 style="color:DodgerBlue">{{ (course$ | async)?.name}} ({{pendingScan.course}})</h1></a>
  <h2>
    ({{ pendingScan.moed | fullMoed }})
  </h2>
  <div class="display-inline">
    <a class="badge badge-primary ml-1" *ngFor="let linkedQuestion of pendingScan.linkedQuestions" [routerLink]="'/question/' + linkedQuestion.qid">
      Question {{ linkedQuestion.qid.split('-')[4] }}
    </a>
  </div>
  <div class="p-3 text-center" *ngFor="let img of pendingScan.pages; let i = index">
    <img class="ml-4" [src]="img" alt="" width="75%"/>
  </div>
</div>
