@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/fonts/feast-of-flesh/style.css";

body.world  {
  background-color: #532a5c;

  #topbar {
    margin-bottom: 0;
  }
}

.modal-backdrop.show {
  opacity: 0.75;
}
