

<div class="card">
  <div class="card-header" [ngClass]="{'active-question': active == true}">
    <h5 class="mb-0">
      <button class="btn btn-link" (click)="collapsed = !collapsed" (mouseover)="highlightPages()" (mouseleave)="unhighlightPages()">
        <fa [name]="collapsed ? 'plus' : 'minus'" class="mr-1"></fa>
        Question {{ sol.number }}
      </button>
      <button class="btn btn-transparent" *ngIf="active && !sol.fetchedQuestion" (click)="deleteRequested.emit()">
        <fa name="trash"></fa>
      </button>
      <button class="btn btn-transparent"  *ngIf="sol.fetchedQuestion">
        <ng-template #fetchedQuestionHelp>
          This question already exists in the system for this exam.<br>If the current scan does not include a solution for it, just leave it empty.
        </ng-template>
        <fa name="info" [ngbTooltip]="fetchedQuestionHelp"></fa>
      </button>
      <div class="float-right">
        <button class="btn btn-transparent" (click)="activateRequested.emit()" *ngIf="!quickMode && !active">
          <fa name="edit"></fa>
        </button>

        <button class="btn btn-transparent" *ngIf="active" (click)="deactivateRequested.emit()">
          <fa name="check"></fa>
        </button>
      </div>
      <div class="grades-container float-right">
        <input class="lhs" type="number" [(ngModel)]="sol.grade" min="0" [max]="sol.points" (change)="verifyGrade()"> / <input class="rhs" type="number" [(ngModel)]="sol.points" [readOnly]="sol.fetchedQuestion">
      </div>
    </h5>
  </div>
  <div [ngbCollapse]="collapsed">
    <div class="card-body">
      <div *ngIf="!sol.images || sol.images.length == 0" class="text-center">
        <small>No Images Selected</small>
      </div>
      <div class="question-images">
        <div class="question-image" *ngFor="let image of sol.images; let i = index" (mouseover)="image.source.highlight = true" (mouseleave)="image.source.highlight = false">
          <img [src]="image.base64" alt="scan page crop">
          <div class="image-popup" *ngIf="active">
            <button class="btn image-remove-button" (click)="sol.removeImage(i); image.source.highlight = false;">
              <fa name="trash"></fa>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
