<div class="alert alert-danger" *ngIf="error">
  <fa-icon icon="exclamation-circle" class="mr-2"></fa-icon> {{error}}
</div>
<div class="row" *ngIf="state === uploadState.Ready">
  <div class="col-md-12">
    <ngx-file-drop
      (onFileDrop)="dropped($event)"
      accept=".pdf"
      [multiple]="false"
      dropZoneClassName=""
      contentClassName=""
      (onFileOver)="isDragged = true"
      (onFileLeave)="isDragged = false"
    >
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <div class="box has-advanced-upload" [ngClass]="{'is-dragover':isDragged == true}">
          <div class="box-input">
            <fa-icon icon="upload" class="box-icon"></fa-icon>
            <div class="box-file-label-text" style="text-align: center;">
              <label class="box-file-label" (click)="openFileSelector()">
                <strong> Browse your scan </strong> or drop it here
              </label>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-file-drop>
  </div>
</div>
<div class="row mt-5" *ngIf="state === uploadState.LoadingFile">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="text-center">
      <h2 class="mt-4">Loading Scan...</h2>
    </div>
    <ul class="list-group mt-4">
      <li class="list-group-item">
        <fa-icon icon="check" *ngIf="loadProgress?.pages" class="text-success mr-2"></fa-icon>
        <fa-icon icon="spinner" [spin]="true" *ngIf="!loadProgress?.pages" class="mr-2"></fa-icon>
        <span *ngIf="loadProgress?.pages"><strong>Scan Pages:</strong> Found {{loadProgress?.pages.length}} Pages</span>
        <span *ngIf="!loadProgress?.pages"><strong>Scan Pages</strong></span>
      </li>
      <li class="list-group-item">
        <fa-icon icon="check" *ngIf="loadProgress?.resultScanDetails" class="text-success mr-2"></fa-icon>
        <fa-icon icon="spinner" [spin]="true" *ngIf="!loadProgress?.resultScanDetails" class="mr-2"></fa-icon>
        <span *ngIf="loadProgress?.resultScanDetails"><strong>Exam Details:</strong> {{ loadProgress.resultScanDetails.moed | fullMoed }}</span>
        <span *ngIf="!loadProgress?.resultScanDetails"><strong>Exam Details</strong></span>
      </li>
      <li class="list-group-item">
        <fa-icon icon="check" *ngIf="loadProgress?.resultCourse" class="text-success mr-2"></fa-icon>
        <fa-icon icon="spinner" [spin]="true" *ngIf="!loadProgress?.resultCourse" class="mr-2"></fa-icon>
        <span *ngIf="loadProgress?.resultCourse"><strong>Course:</strong> {{ loadProgress.resultCourse.name }} ({{loadProgress.resultCourse.id}})</span>
        <span *ngIf="!loadProgress?.resultCourse"><strong>Course</strong></span>
      </li>
      <li class="list-group-item">
        <fa-icon icon="check" *ngIf="loadProgress?.existingQuestions" class="text-success mr-2"></fa-icon>
        <fa-icon icon="spinner" [spin]="true" *ngIf="!loadProgress?.existingQuestions" class="mr-2"></fa-icon>
        <span *ngIf="loadProgress?.existingQuestions"><strong>Existing Questions:</strong> {{loadProgress.existingQuestions.length}} found</span>
        <span *ngIf="!loadProgress?.existingQuestions"><strong>Existing Questions</strong></span>
      </li>
    </ul>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row" *ngIf="state === uploadState.Editing">
  <div class="col-md-12">
    <app-scan-editor
      [pages]="pages"
      [moed]="scanDetails.moed"
      [course]="course"
      [questions]="questions"
      (upload)="uploadScan($event, confirmReadyForUpload, confirmQuickMode)"
    ></app-scan-editor>
  </div>
</div>
<div class="row mt-4" *ngIf="state === uploadState.Uploading">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">
    <fa-icon icon="spinner" [spin]="true" size="5x"></fa-icon>
    <h2 class="mt-4">Uploading Solutions</h2>
    <div class="mt-4" *ngIf="uploadProgress?.currentQuestionProgress">
      <div>Uploading question {{uploadProgress.currentQuestionProgress.question.number}}...</div>
      <div class="mt-2">
        <ngb-progressbar animated="true" striped="true" [max]="100" showValue="true" [value]="uploadProgress.bytes.getPercentage()"></ngb-progressbar>
      </div>
      <div class="mt-4">Image {{uploadProgress.currentQuestionProgress.question_images.current}} out of {{uploadProgress.currentQuestionProgress.question_images.total}}</div>
      <div class="mt-2">
        <ngb-progressbar animated="true" striped="true" [max]="100" showValue="true" [value]="uploadProgress?.currentQuestionProgress?.question_bytes.getPercentage()"></ngb-progressbar>
      </div>
    </div>
    <div class="mt-4" *ngIf="uploadProgress?.pendingScanProgress">
      <div>Uploading pending scan...</div>
      <div class="mt-2">
        <ngb-progressbar animated="true" striped="true" [max]="100" showValue="true" [value]="uploadProgress.pendingScanProgress.total_bytes.getPercentage()"></ngb-progressbar>
      </div>
      <div class="mt-4">Page {{uploadProgress.pendingScanProgress.pages.current}} out of {{uploadProgress.pendingScanProgress.pages.total}}</div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row mt-4" *ngIf="state === uploadState.UploadSuccess">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">
    <div class="text-success">
      <fa-icon icon="check" size="5x"></fa-icon>
    </div>
    <h2 class="mt-4">Solutions Uploaded Successfully</h2>
    <h4 class="mt-2">Thanks for your contribution!</h4>
    <div class="mt-4">
      <button class="btn btn-primary mr-2" (click)="reset()">
        Upload another scan
      </button>
      <button class="btn btn-success" [routerLink]="'/course/' + course.id + '/exam/' + scanDetails.moed.semester.year + '-' + scanDetails.moed.semester.num + '-' + scanDetails.moed.num">
        Go to exam page
      </button>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<ng-template #confirmReadyForUpload let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Did you select all the questions in your scan?</h5>
  </div>
  <div class="modal-body">
    <p>It is just fine if you skipped some, your contribution is already very helpful 😃</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close(false)" ngbAutofocus>No</button>
    <button type="button" class="btn btn-success" (click)="modal.close(true)">Yes</button>
  </div>
</ng-template>

<ng-template #confirmQuickMode let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Upload as pending scan?</h5>
  </div>
  <div class="modal-body">
    <p>We can upload your scan as a pending scan and let others crop the solutions you skipped.</p>
    <div class="alert alert-warning"><fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>All pages you did not hide will be uploaded, including the first page with your details. so if</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close(pendingScanConfirmResult.BACK_TO_EDIT)">Back to edit</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close(pendingScanConfirmResult.DONT_UPLOAD_PENDING)">Do not upload as Pending Scan</button>
    <button type="button" class="btn btn-success" (click)="modal.close(pendingScanConfirmResult.UPLOAD_PENDING)" ngbAutofocus>Upload as Pending Scan</button>
  </div>
</ng-template>
