<div class="alert alert-danger" *ngIf="error">
  <fa name="exclamation-circle" class="mr-2"></fa> {{error}}
</div>
<div class="row" *ngIf="state === uploadState.Ready">
  <div class="col-2"></div>
  <div class="col-8">
    <ngx-file-drop
      (onFileDrop)="dropped($event)"
      accept=".pdf"
      [multiple]="false"
      dropZoneClassName=""
      contentClassName=""
      (onFileOver)="isDragged = true"
      (onFileLeave)="isDragged = false"
    >
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <div class="box has-advanced-upload" [ngClass]="{'is-dragover':isDragged == true}">
          <div class="box-input">
            <fa name="upload" class="box-icon"></fa>
            <div class="box-file-label-text" style="text-align: center;">
              <label class="box-file-label" (click)="openFileSelector()">
                <strong> Browse your scan </strong> or drop it here
              </label>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-file-drop>
  </div>
  <div class="col-2"></div>
</div>
<div class="row mt-5" *ngIf="state === uploadState.LoadingFile">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="text-center">
      <h2 class="mt-4">Loading Scan...</h2>
    </div>
    <ul class="list-group mt-4">
      <li class="list-group-item">
        <fa name="check" *ngIf="loadProgress?.pages" class="text-success mr-2"></fa>
        <fa name="spinner" animation="spin" *ngIf="!loadProgress?.pages" class="mr-2"></fa>
        <span *ngIf="loadProgress?.pages"><strong>Scan Pages:</strong> Found {{loadProgress?.pages.length}} Pages</span>
        <span *ngIf="!loadProgress?.pages"><strong>Scan Pages</strong></span>
      </li>
      <li class="list-group-item">
        <fa name="check" *ngIf="loadProgress?.resultScanDetails" class="text-success mr-2"></fa>
        <fa name="spinner" animation="spin" *ngIf="!loadProgress?.resultScanDetails" class="mr-2"></fa>
        <span *ngIf="loadProgress?.resultScanDetails"><strong>Exam Details:</strong> {{ loadProgress.resultScanDetails.moed | fullMoed }}</span>
        <span *ngIf="!loadProgress?.resultScanDetails"><strong>Exam Details</strong></span>
      </li>
      <li class="list-group-item">
        <fa name="check" *ngIf="loadProgress?.resultCourse" class="text-success mr-2"></fa>
        <fa name="spinner" animation="spin" *ngIf="!loadProgress?.resultCourse" class="mr-2"></fa>
        <span *ngIf="loadProgress?.resultCourse"><strong>Course:</strong> {{ loadProgress.resultCourse.name }} ({{loadProgress.resultCourse.id}})</span>
        <span *ngIf="!loadProgress?.resultCourse"><strong>Course</strong></span>
      </li>
      <li class="list-group-item">
        <fa name="check" *ngIf="loadProgress?.existingQuestions" class="text-success mr-2"></fa>
        <fa name="spinner" animation="spin" *ngIf="!loadProgress?.existingQuestions" class="mr-2"></fa>
        <span *ngIf="loadProgress?.existingQuestions"><strong>Existing Questions:</strong> {{loadProgress.existingQuestions.length}} found</span>
        <span *ngIf="!loadProgress?.existingQuestions"><strong>Existing Questions</strong></span>
      </li>
    </ul>
  </div>
  <div class="col-3"></div>
</div>
<div class="row" *ngIf="state === uploadState.Editing">
  <div class="col-12">
    <app-scan-editor [pages]="pages" [moed]="moed" [course]="course" [questions]="questions"></app-scan-editor>
  </div>
</div>
