<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card text-center">
        <div class="card-header">
          Login to Testock
        </div>
        <div class="card-body">
          <button button type="button" class="btn btn-primary btn-block" (click)="signInWithTechnion()">
            <fa name="university"></fa>
            Continue with Technion account
          </button>
          <button button type="button" class="btn btn-secondary btn-block" routerLink="/courses">
            <fa name="user"></fa>
            Continue as guest
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
