.box-dragndrop {
  display: none;
}

.box.has-advanced-upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.has-advanced-upload .box-dragndrop {
  display: inline;
}

.box {
  font-size: 1.25rem;
  background-color: #f4f8fc;
  position: relative;
  padding: 50px 20px;
}

.box-icon {
  font-size: 6em;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
  text-align: center;
}

.box-button {
  text-align: center;
  display: block;
  margin: 20px auto 0;
}

.box-file {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  text-align: center;
}

.box-file-label-text {
  text-align: center;
  font-size: 1.3em;
}

.box-file-label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.is-dragover {
  outline-offset: -20px;
  outline-color: #c8dadf;
  background-color: #cdcdcd;
}
